
<!doctype html>
<html dir="ltr" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DSC Barcelona 1</title>




<link rel="stylesheet" type="text/css" href="dscbarcelona1.css" />



  </head>
<div class="wrapper">
  <div class="header"><img src="imagenes/header dsc.jpg" alt="dsc barcelona"></div>
  <nav class= "menu">
    <ul>
      <li>
          <a href="/">Home</a>
      </li>
      <li>
          <a href="/print">Print Design</a>
      </li>
      <li>
          <a href="/web">Web Design</a>
      </li>
      <li>
          <a href="/bio">Bio</a>
      </li>
      <li>
          <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="content">
      <div class="wrapper2">
          <article class="box a">
       <a href="article1.html"><img src="imagenes/assange.jpeg" alt="Troika"></a>
      <a href="article1.html"><h3>1) Troika does it again</h3></a>
     <p>In our urban and suburban houses what should we do without cats? </p>
    </article>
    <article class="box b">
   <img src="imagenes/rally.jpeg" alt="Troika">
   <h3>1) Europe will survive</h3>
   <p>In our urban and suburban houses what should we do without cats? </p>
   </article>
   <article class="box c">
  <img src="imagenes/soren.jpeg" alt="Troika">
  <h3>1) Troika does it again</h3>
  <p>In our urban and suburban houses what should we do without cats? </p>
  </article>
</div>
 <div class="wrapper3">
<article class="box2 d">
<img src="imagenes/trump.jpeg" alt="Troika">
<h3>1) Troika does it again</h3>
<p>In our urban and suburban houses what should we do without cats? </p>
</article>
<article class="box2 e">
<img src="troika text 2.png" alt="Troika">
<h3>1) Troika does it again</h3>
<p>In our urban and suburban houses what should we do without cats? </p>
</article>
  </div>
  </div>
  <div class="box sidebar">Sidebar</div>
  <div class="box footer">Footer</div>
</div>
